#welcome-tagline {
    text-align: center;
}

h3 {
    text-align: center;
}
.menu-buttons {
    margin-left: 620px;
    width: 150px;
    height: 40px;
    background-color: #fff;
}

.menu-links {
    color: #000;
    text-decoration: none;
}